<h1><%= camera.name %>:</h1>

<% photos.forEach(function(photo) { %>
  <div class="col-lg-4 past_images">
    <img src="/imgs/camera_photos/<%= photo.image_name %>" />
    <div class="well well-sm">
      <p class="text-muted">Photo taken <%= moment(photo.created_at).fromNow(); %></p>
    </div>
  </div>
<% }); %>

<div class="row edit-camera">
  <div class="col-lg-6">
    <form class="form-horizontal" action="/camera/<%= camera.id %>/edit" method="POST">
      <fieldset>
        <legend>Edit Camera</legend>
        <div class="form-group">
          <label for="name" class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="<%= camera.name %>">
          </div>
        </div>

        <div class="form-group">
          <label for="contact_number" class="col-lg-2 control-label">Contact Number</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="contact_number" id="contact_number" placeholder="4123620201" value="<%= camera.contact_number %>">
          </div>
        </div>

        <div class="form-group">
          <label for="twilio_sid" class="col-lg-2 control-label">Twilio SIM SID</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="twilio_sid" id="twilio_sid" placeholder="Twilio SIM SID" value="<%= camera.twilio_sid %>">
          </div>
        </div>

        <div class="form-group">
          <label for="token" class="col-lg-2 control-label">Token</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="token" id="token" placeholder="Twilio SIM SID" value="<%= camera.token %>">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-default add-camera-cancel">Cancel</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
